<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
>
<body class="container">

<header>    
</header>

<main>    
<h1>Logon Success</h1>
<p><%= myData.title %></p>             
<ul>
    <%= myData.saml %>
  </ul>
</main>

</body>
</html>